Node-Red-Export
[{"id":"639e3bd9ac275da4","type":"tab","label":"Better Alexa","disabled":false,"info":"","env":[]},{"id":"bf57168885bfc1fb","type":"inject","z":"639e3bd9ac275da4","name":"Send Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":660,"wires":[["28b054de29b7c23e"]]},{"id":"28b054de29b7c23e","type":"function","z":"639e3bd9ac275da4","name":"Convert_to_Json","func":"// Array of pseudo random temperatures\nvar humid1 = [1111111111111111,000000000000001,1010101010101010];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 2) counter1 = 0;\ncontext.set('counter1',counter1)\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(humid1[counter1])\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":660,"wires":[["638a0f3398eff9ac","cb8a267df9d15181"]]},{"id":"638a0f3398eff9ac","type":"debug","z":"639e3bd9ac275da4","name":"Debug output payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":700,"wires":[]},{"id":"7aa12afa09ed8161","type":"comment","z":"639e3bd9ac275da4","name":"Device Simulator - Click to Send Data from virtual sensors","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":250,"y":600,"wires":[]},{"id":"cb8a267df9d15181","type":"mqtt out","z":"639e3bd9ac275da4","name":"","topic":"HUMID_ESE516_T3aaaaa","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8fde701c.6c6c3","x":840,"y":640,"wires":[]},{"id":"ca7d63f86a6f8084","type":"mqtt in","z":"639e3bd9ac275da4","name":"","topic":"HUMID_ESE516_T3","qos":"1","datatype":"auto","broker":"8fde701c.6c6c3","nl":false,"rap":false,"inputs":0,"x":190,"y":1300,"wires":[["f32fda077250c586","9907fe9fc274c84d"]]},{"id":"bc66de6c1a7dc883","type":"debug","z":"639e3bd9ac275da4","name":"Converted Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1400,"wires":[]},{"id":"13f552ebcbdbea4d","type":"mqtt in","z":"639e3bd9ac275da4","name":"","topic":"LightDataBetterAlexa","qos":"1","datatype":"auto","broker":"8fde701c.6c6c3","nl":false,"rap":false,"inputs":0,"x":200,"y":1720,"wires":[["2639d20c668a39a5"]]},{"id":"0fa20d37cdd3df15","type":"inject","z":"639e3bd9ac275da4","name":"Send Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":880,"wires":[["117b1e1ba1f2d723"]]},{"id":"117b1e1ba1f2d723","type":"function","z":"639e3bd9ac275da4","name":"Convert_to_Json","func":"// Array of pseudo random light data\nvar light = [1111111111111111,000000000000001,1010101010101010];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 2) counter1 = 0;\ncontext.set('counter1',counter1)\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"light\" : light[counter1]\n      }\n    }\n  )\n};\nreturn msg;\n\n\n\n\n\n\n\n// Array of pseudo random temperatures\n//var temp1 = [1111111111111111,000000000000001,1010101010101010];\n\n// Array of pseudo random relative humidities\n//var humidity1 = [1111111111111111,000000000000001,1010000100110011];\n\n// Counter to select from array.\n//var counter1 = context.get('counter1')||0;\n//counter1 = counter1+1;\n//if(counter1 > 2) counter1 = 0;\n//context.set('counter1',counter1)\n\n// Create MQTT message in JSON\n//msg = {\n//  payload: JSON.stringify(\n//    {\n//      d:{\n//        \"temp\" : temp1[counter1],\n//        \"humidity\" : humidity1[counter1]\n//      }\n//    }\n//  )\n//};\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":880,"wires":[["c745cfd52c678ed8","2435687b17897db5"]]},{"id":"c745cfd52c678ed8","type":"debug","z":"639e3bd9ac275da4","name":"Debug output payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":920,"wires":[]},{"id":"2435687b17897db5","type":"mqtt out","z":"639e3bd9ac275da4","name":"","topic":"LIGHT_ESE516_T3aaaaa","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8fde701c.6c6c3","x":830,"y":860,"wires":[]},{"id":"439e3a6382c6f3e2","type":"ui_button","z":"639e3bd9ac275da4","name":"","group":"7439f979.e3ee18","order":3,"width":0,"height":0,"passthru":false,"label":"Start Recording","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":1880,"wires":[[]]},{"id":"50b1091331217b57","type":"function","z":"639e3bd9ac275da4","name":"Convert_Bin_to_Temp","func":"// return {payload:Math.round(100*((175*parseInt(msg.payload.d.temp,2))/Math.pow(2,16)-45))/100};\n\nreturn {payload:msg.payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1560,"wires":[["2a4cf8b9dfe93fdb"]]},{"id":"f32fda077250c586","type":"json","z":"639e3bd9ac275da4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1340,"wires":[["6ee3ea9223a0041e","6014b95f3bec2543"]]},{"id":"2639d20c668a39a5","type":"json","z":"639e3bd9ac275da4","name":"","property":"payload","action":"","pretty":false,"x":460,"y":1720,"wires":[["39eecabc329e24fa","930d630d69e1058b","be5ae7cd5450c1fc"]]},{"id":"6ee3ea9223a0041e","type":"function","z":"639e3bd9ac275da4","name":"Convert_Bin_to_Humidity","func":"// return {payload:Math.round((100*parseInt(msg.payload.d.humidity,2)/Math.pow(2,16))*100)/100};\n\nreturn {payload:msg.payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1340,"wires":[["c224490f4ef0eeae","bc66de6c1a7dc883"]]},{"id":"39eecabc329e24fa","type":"function","z":"639e3bd9ac275da4","name":"Convert_Bin_to_Light","func":"return {payload:(100*parseInt(msg.payload.d.light,2))/(2^16)};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1780,"wires":[["4589b3bcb181c83b"]]},{"id":"930d630d69e1058b","type":"debug","z":"639e3bd9ac275da4","name":"device data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1880,"wires":[]},{"id":"c224490f4ef0eeae","type":"switch","z":"639e3bd9ac275da4","name":"valid humidity  threshold","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"str"},{"t":"gt","v":"100","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":1340,"wires":[["fe68bf8f8d6aa63e"],["9df3b9feb60ac511"],["e6567c4b6606aba5"]]},{"id":"fe68bf8f8d6aa63e","type":"template","z":"639e3bd9ac275da4","name":"valid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Humidity ({{payload}} %RH) within valid limits","x":1110,"y":1300,"wires":[["7b60df1253cfc133","a0f83287e1bd7612"]]},{"id":"9df3b9feb60ac511","type":"template","z":"639e3bd9ac275da4","name":"invalid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Humidity ({{payload}}) critical","x":1110,"y":1340,"wires":[["a0f83287e1bd7612"]]},{"id":"7b60df1253cfc133","type":"ui_text","z":"639e3bd9ac275da4","group":"67f56d9d8912ba2b","order":1,"width":"6","height":"2","name":"","label":"Current Humidity: ","format":"{{msg.payload}}","layout":"row-left","x":1350,"y":1280,"wires":[]},{"id":"a0f83287e1bd7612","type":"debug","z":"639e3bd9ac275da4","name":"cpu status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":1340,"wires":[]},{"id":"2a4cf8b9dfe93fdb","type":"switch","z":"639e3bd9ac275da4","name":"valid temp threshold","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"str"},{"t":"gt","v":"100","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":820,"y":1560,"wires":[["e21540f6eff746a5"],["a8c681c9403c1a0a"],["9e88ed3e6dab81cc"]]},{"id":"e21540f6eff746a5","type":"template","z":"639e3bd9ac275da4","name":"valid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}} C) within valid limits","x":1030,"y":1520,"wires":[["f7da7e5527c79862","abaa295a3194fd33"]]},{"id":"a8c681c9403c1a0a","type":"template","z":"639e3bd9ac275da4","name":"invalid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Humidity ({{payload}}) critical","x":1030,"y":1560,"wires":[["abaa295a3194fd33"]]},{"id":"f7da7e5527c79862","type":"ui_text","z":"639e3bd9ac275da4","group":"67f56d9d8912ba2b","order":1,"width":"6","height":"2","name":"","label":"Current Temperature:","format":"{{msg.payload}}","layout":"row-left","x":1280,"y":1500,"wires":[]},{"id":"abaa295a3194fd33","type":"debug","z":"639e3bd9ac275da4","name":"cpu status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":1560,"wires":[]},{"id":"1af51930299a027c","type":"ui_led","z":"639e3bd9ac275da4","group":"fb243b7ce1ebf8e9","order":2,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1170,"y":1720,"wires":[]},{"id":"be5ae7cd5450c1fc","type":"function","z":"639e3bd9ac275da4","name":"LightOnThreshold","func":"var on = { payload: true};\nvar off = { payload: false};\n\nif(msg.payload.d.light > 1000000000000000) {\n    return [off];\n} else {\n    return [on];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1720,"wires":[["1af51930299a027c"]]},{"id":"45aa0d0bce2081c4","type":"inject","z":"639e3bd9ac275da4","name":"Create Database Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE HumidityData(TIMESTAMPTH INT PRIMARY KEY NOT NULL, HUMIDITY INT NOT NULL)","payload":"","payloadType":"date","x":140,"y":1000,"wires":[["d8606b5497bacb8f"]]},{"id":"d8606b5497bacb8f","type":"sqlite","z":"639e3bd9ac275da4","mydb":"dce9c865bf072d5d","sqlquery":"msg.topic","sql":"CREATE TABLE HumidityData(TIMESTAMP INT PRIMARY KEY NOT NULL, HUMIDITY INT NOT NULL)","name":"HumidityData","x":440,"y":1000,"wires":[["751f41eb2efcd563"]]},{"id":"751f41eb2efcd563","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1000,"wires":[]},{"id":"4589b3bcb181c83b","type":"debug","z":"639e3bd9ac275da4","name":"Binary Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1780,"wires":[]},{"id":"a69a3c4c87724ee4","type":"sqlite","z":"639e3bd9ac275da4","mydb":"820120fdb1e08a12","sqlquery":"prepared","sql":"INSERT INTO HumidityData (TIMESTAMPTH, HUMIDITY) values($thetime, $thevalue)","name":"Insert Humidity Data","x":940,"y":1240,"wires":[["d3c6366cbf15bb67"]]},{"id":"d3c6366cbf15bb67","type":"debug","z":"639e3bd9ac275da4","name":"Debug Humidity Insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":1240,"wires":[]},{"id":"0be8516c4ef0ae7d","type":"inject","z":"639e3bd9ac275da4","name":"Get All Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2000,"wires":[["511cc0212823066b"]]},{"id":"98f958df6c2ebe38","type":"comment","z":"639e3bd9ac275da4","name":"Reading Data from Database","info":"","x":220,"y":1940,"wires":[]},{"id":"633a1b3f66ed4141","type":"comment","z":"639e3bd9ac275da4","name":"Databases - Click to Create or Delete","info":"","x":170,"y":960,"wires":[]},{"id":"511cc0212823066b","type":"sqlite","z":"639e3bd9ac275da4","mydb":"820120fdb1e08a12","sqlquery":"fixed","sql":"SELECT * FROM HumidityData","name":"Select Statement","x":430,"y":2000,"wires":[["3478aaf23f6a227e"]]},{"id":"3478aaf23f6a227e","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2000,"wires":[]},{"id":"6014b95f3bec2543","type":"function","z":"639e3bd9ac275da4","name":"Insert Binary Humidity to Table","func":"// msg.params = {$thetime:Date.now(), $thevalue:Math.round((100*parseInt(msg.payload.d.humidity,2)/Math.pow(2,16))*100)/100}\n// return msg;\n\nmsg.params = {$thetime:Date.now(), $thevalue:msg.payload}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1300,"wires":[["a69a3c4c87724ee4"]]},{"id":"fe1f07b02f3dfbb6","type":"inject","z":"639e3bd9ac275da4","name":"Delete Database Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE HumidityData","payload":"","payloadType":"date","x":140,"y":1040,"wires":[["e46fc4a6a3101fa0"]]},{"id":"e46fc4a6a3101fa0","type":"sqlite","z":"639e3bd9ac275da4","mydb":"dce9c865bf072d5d","sqlquery":"msg.topic","sql":"","name":"Delete HumidityData","x":460,"y":1040,"wires":[["0256a398cdce1dbe"]]},{"id":"0256a398cdce1dbe","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1040,"wires":[]},{"id":"606745a56ee53ff9","type":"ui_slider","z":"639e3bd9ac275da4","name":"","label":"Ambient Light Coloration","tooltip":"","group":"fb243b7ce1ebf8e9","order":2,"width":"2","height":"5","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"4","step":1,"x":210,"y":2460,"wires":[["94530c815d247d53","e55f3c732b1a384f"]]},{"id":"2c5a14f5d0c7ae99","type":"comment","z":"639e3bd9ac275da4","name":"Changing Light Color","info":"","x":200,"y":2400,"wires":[]},{"id":"e55f3c732b1a384f","type":"ui_led","z":"639e3bd9ac275da4","group":"fb243b7ce1ebf8e9","order":6,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"blue","value":"1","valueType":"num"},{"color":"green","value":"2","valueType":"num"},{"color":"yellow","value":"3","valueType":"num"},{"color":"orange","value":"4","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":2460,"wires":[]},{"id":"94530c815d247d53","type":"switch","z":"639e3bd9ac275da4","name":"Light Color Thresholds","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":480,"y":2540,"wires":[["ed9bc8fb686ace80"],["ed9bc8fb686ace80"],["ed9bc8fb686ace80"],["ed9bc8fb686ace80"],["ed9bc8fb686ace80"]]},{"id":"ed9bc8fb686ace80","type":"mqtt out","z":"639e3bd9ac275da4","name":"","topic":"Light_ESE516_T3","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8fde701c.6c6c3","x":770,"y":2540,"wires":[]},{"id":"41e80710a6c79d31","type":"sqlite","z":"639e3bd9ac275da4","mydb":"820120fdb1e08a12","sqlquery":"prepared","sql":"SELECT AVG(HUMIDITY) AS Humidity FROM HumidityData WHERE (TIMESTAMPTH > $onedaydiff)","name":"Select Statement","x":870,"y":2060,"wires":[["a9b09b95493a6a67","4925739a7c55a5d2","c5c5c670b90a3c3e"]]},{"id":"1c9f145eb315268a","type":"function","z":"639e3bd9ac275da4","name":"Insert Binary Humidity to Table","func":"msg.params = {$onedaydiff:(Date.now()-86400000)}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2060,"wires":[["41e80710a6c79d31"]]},{"id":"a9b09b95493a6a67","type":"debug","z":"639e3bd9ac275da4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":2120,"wires":[]},{"id":"4925739a7c55a5d2","type":"switch","z":"639e3bd9ac275da4","name":"Humidity Message Thresholds","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"},{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1150,"y":2060,"wires":[["476cde322e43a141"],["6d976756d82ce210"],["e2c84c26130d0d24"],[]]},{"id":"476cde322e43a141","type":"template","z":"639e3bd9ac275da4","name":"too dry","field":"payload","fieldType":"msg","syntax":"mustache","template":"Turn your humidifier on, yesterday's humidity was too low. ","x":1390,"y":2020,"wires":[["71ce78b93250c419","01366efcf72de657"]]},{"id":"6d976756d82ce210","type":"template","z":"639e3bd9ac275da4","name":"good dryness","field":"payload","fieldType":"msg","syntax":"mustache","template":"No change needed, yesterday's humidity was average.","x":1420,"y":2060,"wires":[["01366efcf72de657","71ce78b93250c419"]]},{"id":"71ce78b93250c419","type":"ui_text","z":"639e3bd9ac275da4","group":"f1d00abca06cbc30","order":1,"width":"0","height":"0","name":"","label":"Reccommendation: ","format":"{{msg.payload}}","layout":"row-left","x":1690,"y":2080,"wires":[]},{"id":"01366efcf72de657","type":"debug","z":"639e3bd9ac275da4","name":"message status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":2040,"wires":[]},{"id":"e2c84c26130d0d24","type":"template","z":"639e3bd9ac275da4","name":"moist","field":"payload","fieldType":"msg","syntax":"mustache","template":"Turn your humidifier off, yesterday's humidity was too high.","x":1390,"y":2100,"wires":[["01366efcf72de657","71ce78b93250c419"]]},{"id":"61c1dee4ae388269","type":"ui_button","z":"639e3bd9ac275da4","name":"Historical Humidity","group":"f1d00abca06cbc30","order":4,"width":"0","height":"0","passthru":false,"label":"Get Humidity","tooltip":"Returns an average of yesterday's humidity","color":"White","bgcolor":"Black","icon":"mi-thermometer-2","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":2060,"wires":[["1c9f145eb315268a"]]},{"id":"c5c5c670b90a3c3e","type":"ui_text","z":"639e3bd9ac275da4","group":"f1d00abca06cbc30","order":1,"width":"0","height":"0","name":"","label":"Prior Data: ","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":2160,"wires":[]},{"id":"f98c0814c17fd990","type":"mqtt in","z":"639e3bd9ac275da4","name":"","topic":"TEMP_ESE516_T3","qos":"1","datatype":"auto","broker":"8fde701c.6c6c3","nl":false,"rap":false,"inputs":0,"x":190,"y":1560,"wires":[["478357860e3fd04e","dc68ccc74843c0d9"]]},{"id":"478357860e3fd04e","type":"json","z":"639e3bd9ac275da4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1560,"wires":[["50b1091331217b57","8d20d480f8c222b5"]]},{"id":"9907fe9fc274c84d","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":1300,"wires":[]},{"id":"dc68ccc74843c0d9","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1620,"wires":[]},{"id":"4cc7c88a880b3fa1","type":"sqlite","z":"639e3bd9ac275da4","mydb":"7d65f358cd8041a1","sqlquery":"prepared","sql":"INSERT INTO TempData (TIMESTAMPTH, TEMPERATURE) values($thetime, $thevalue)","name":"Insert Temp Data","x":830,"y":1660,"wires":[["30e7e89292672844"]]},{"id":"30e7e89292672844","type":"debug","z":"639e3bd9ac275da4","name":"Debug Temp Insert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1660,"wires":[]},{"id":"8d20d480f8c222b5","type":"function","z":"639e3bd9ac275da4","name":"Insert Binary Temp to Table","func":"// msg.params = {$thetime:Date.now(), $thevalue:Math.round((100*parseInt(msg.payload.d.humidity,2)/Math.pow(2,16))*100)/100}\n// return msg;\n\nmsg.params = {$thetime:Date.now(), $thevalue:msg.payload}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1600,"wires":[["4cc7c88a880b3fa1"]]},{"id":"404c95e968a18493","type":"inject","z":"639e3bd9ac275da4","name":"Create Database Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE TempData(TIMESTAMPTH INT PRIMARY KEY NOT NULL, TEMPERATURE INT NOT NULL)","payload":"","payloadType":"date","x":140,"y":1100,"wires":[["f874d2c711f56a19"]]},{"id":"f874d2c711f56a19","type":"sqlite","z":"639e3bd9ac275da4","mydb":"7d65f358cd8041a1","sqlquery":"msg.topic","sql":"CREATE TABLE HumidityData(TIMESTAMP INT PRIMARY KEY NOT NULL, HUMIDITY INT NOT NULL)","name":"TempData","x":430,"y":1100,"wires":[["0bb4dc2c82e64047"]]},{"id":"0bb4dc2c82e64047","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1100,"wires":[]},{"id":"1fb18794b2823e19","type":"inject","z":"639e3bd9ac275da4","name":"Delete Database Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE TempData","payload":"","payloadType":"date","x":140,"y":1140,"wires":[["9f689860eca88555"]]},{"id":"9f689860eca88555","type":"sqlite","z":"639e3bd9ac275da4","mydb":"7d65f358cd8041a1","sqlquery":"msg.topic","sql":"","name":"Delete TempData","x":450,"y":1140,"wires":[["822c0cba92b56c67"]]},{"id":"822c0cba92b56c67","type":"debug","z":"639e3bd9ac275da4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"6ad3ffb21c1142c3","type":"inject","z":"639e3bd9ac275da4","name":"Send Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":760,"wires":[["c7274416706f5839"]]},{"id":"c7274416706f5839","type":"function","z":"639e3bd9ac275da4","name":"Convert_to_Json","func":"// Array of pseudo random temperatures\nvar temp1 = [1111111111111111,000000000000001,1010101010101010];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 2) counter1 = 0;\ncontext.set('counter1',counter1)\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(temp1[counter1])\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":760,"wires":[["2e93161d0fd7ed80","089aa54b145fe7da"]]},{"id":"2e93161d0fd7ed80","type":"debug","z":"639e3bd9ac275da4","name":"Debug output payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":800,"wires":[]},{"id":"089aa54b145fe7da","type":"mqtt out","z":"639e3bd9ac275da4","name":"","topic":"TEMP_ESE516_T3aaaaa","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8fde701c.6c6c3","x":830,"y":740,"wires":[]},{"id":"e6567c4b6606aba5","type":"template","z":"639e3bd9ac275da4","name":"invalid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Humidity ({{payload}}) critical","x":1110,"y":1380,"wires":[["7b60df1253cfc133","a0f83287e1bd7612"]]},{"id":"9e88ed3e6dab81cc","type":"template","z":"639e3bd9ac275da4","name":"invalid","field":"payload","fieldType":"msg","syntax":"mustache","template":"Humidity ({{payload}}) critical","x":1030,"y":1600,"wires":[["f7da7e5527c79862","abaa295a3194fd33"]]},{"id":"037afd08a55d4c46","type":"sqlite","z":"639e3bd9ac275da4","mydb":"7d65f358cd8041a1","sqlquery":"prepared","sql":"SELECT AVG(TEMPERATURE) AS Temperature FROM TempData WHERE (TIMESTAMPTH > $onedaydiff)","name":"Select Statement","x":870,"y":2280,"wires":[["e66c1aa211d1ad0d","4d147859ed84674c","59494daa6b460f3d"]]},{"id":"e66c1aa211d1ad0d","type":"debug","z":"639e3bd9ac275da4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":2340,"wires":[]},{"id":"4d147859ed84674c","type":"switch","z":"639e3bd9ac275da4","name":"Temperature Message Thresholds","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"str"},{"t":"lte","v":"30","vt":"str"},{"t":"gt","v":"60","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1160,"y":2280,"wires":[["62fc1bb0522dbb13"],["1e2462dfb614da9e"],["014686124ae53482"]]},{"id":"62fc1bb0522dbb13","type":"template","z":"639e3bd9ac275da4","name":"too cold","field":"payload","fieldType":"msg","syntax":"mustache","template":"Turn your thermostat up, yesterday's temperature was too low. ","x":1400,"y":2240,"wires":[["1be4a931e77ff2bd","a951525ed6f2924a"]]},{"id":"1e2462dfb614da9e","type":"template","z":"639e3bd9ac275da4","name":"good temperature","field":"payload","fieldType":"msg","syntax":"mustache","template":"No change needed, yesterday's temperature was average.","x":1430,"y":2280,"wires":[["a951525ed6f2924a","1be4a931e77ff2bd"]]},{"id":"1be4a931e77ff2bd","type":"ui_text","z":"639e3bd9ac275da4","group":"f1d00abca06cbc30","order":1,"width":"0","height":"0","name":"","label":"Reccommendation: ","format":"{{msg.payload}}","layout":"row-left","x":1690,"y":2300,"wires":[]},{"id":"a951525ed6f2924a","type":"debug","z":"639e3bd9ac275da4","name":"message status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":2260,"wires":[]},{"id":"014686124ae53482","type":"template","z":"639e3bd9ac275da4","name":"too hot","field":"payload","fieldType":"msg","syntax":"mustache","template":"Turn your thermostat down, yesterday's temperature was too high.","x":1390,"y":2320,"wires":[["a951525ed6f2924a","1be4a931e77ff2bd"]]},{"id":"59494daa6b460f3d","type":"ui_text","z":"639e3bd9ac275da4","group":"f1d00abca06cbc30","order":1,"width":"0","height":"0","name":"","label":"Prior Data:","format":"{{msg.payload}}","layout":"row-left","x":1130,"y":2380,"wires":[]},{"id":"d62f3f7a34f64660","type":"function","z":"639e3bd9ac275da4","name":"Insert Binary Temperature to Table","func":"msg.params = {$onedaydiff:(Date.now()-86400000)}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2280,"wires":[["037afd08a55d4c46"]]},{"id":"5ebc3a794b9f1ab1","type":"ui_button","z":"639e3bd9ac275da4","name":"Historical Temperature","group":"f1d00abca06cbc30","order":4,"width":"0","height":"0","passthru":false,"label":"Get Temperature","tooltip":"Returns an average of yesterday's temperature","color":"White","bgcolor":"Black","icon":"mi-thermometer-2","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":2280,"wires":[["d62f3f7a34f64660"]]},{"id":"8fde701c.6c6c3","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7439f979.e3ee18","type":"ui_group","name":"Default","tab":"c19ddfcf.06e82","order":1,"disp":true,"width":"6","collapse":false},{"id":"67f56d9d8912ba2b","type":"ui_group","name":"Current Information","tab":"8a08d260d2466104","order":2,"disp":true,"width":"12","collapse":false},{"id":"fb243b7ce1ebf8e9","type":"ui_group","name":"Controls","tab":"8a08d260d2466104","order":3,"disp":true,"width":"5","collapse":true},{"id":"dce9c865bf072d5d","type":"sqlitedb","db":"C:\\humiditydata.db","mode":"RWC"},{"id":"820120fdb1e08a12","type":"sqlitedb","db":"C:\\humiditydata.db","mode":"RWC"},{"id":"f1d00abca06cbc30","type":"ui_group","name":"Historical Data","tab":"8a08d260d2466104","order":1,"disp":true,"width":"12","collapse":true},{"id":"7d65f358cd8041a1","type":"sqlitedb","db":"C:\\tempdata.db","mode":"RWC"},{"id":"c19ddfcf.06e82","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a08d260d2466104","type":"ui_tab","name":"Better Alexa","icon":"dashboard","disabled":false,"hidden":false}]
